body {
    cursor: url(https://cdn.jsdelivr.net/gh/Huangtingdt/BLOG_SOURCE/theme_f/curcor1.png), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
    display: block
}

a,
button,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/Huangtingdt/BLOG_SOURCE/theme_f/curcor2.png), auto
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    /* background-color: rgba(73, 177, 245, .2); */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / .3);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    border-radius: 2em
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

/* 头像背景 */
/* 彩带 */
.card-info-avatar:hover {
  background: url(https://cdn.jsdelivr.net/gh/rigodlee/BLOGCDN/img/H3342af90d24b4d62b9bbfec9688ccc25M.gif);
}

/* 花 */
/* .card-info-avatar:hover {
  background: url(https://cdn.jsdelivr.net/gh/rigodlee/BLOGCDN/img/20200530181856.gif);
} */

/* 会飞的鱼 */
/* 鱼塘固定宽度 */
canvas:not(#ribbon-canvas), #web_bg {
  margin-bottom: -0.5rem;
  display: block;
  width: 100%;
  height: 160px
}

#footer{
  margin-top: 260px;
}

.footerimg{
  width: 100%;
  position: absolute;
  top: calc(100% - 284%);
  text-align: center;
  vertical-align: middle;
}

.footerimg img{
  max-width: none;
}
